#event_page {
  overflow: hidden; }
  #event_page .row {
    max-width: 1190px; }
    #event_page .row.top {
      margin-top: 15px; }
  #event_page .accordion a {
    padding: 0 0 0 5px;
    margin-bottom: 6px;
    background-color: darkgray;
    color: white;
    font-size: 1.4rem; }
    #event_page .accordion a:hover, #event_page .accordion a[aria-expanded=true] {
      background-color: #3B3131; }
  #event_page .accordion .content {
    margin-bottom: 6px; }
  #event_page .accordion ul {
    list-style-type: disc; }
  #event_page .accordion .side {
    display: inline-block;
    margin-left: 10%; }
  #event_page .accordion table {
    background-color: black;
    margin: 0 auto 30px; }
    #event_page .accordion table tr {
      background-color: #F9F9F9; }
    #event_page .accordion table .black {
      background-color: black; }
    #event_page .accordion table .bold {
      font-weight: bold; }
    #event_page .accordion table .right {
      text-align: right; }
    #event_page .accordion table thead tr {
      background-color: grey; }
  #event_page .accordion .less_bottom {
    margin-bottom: 5px; }
  #event_page .accordion .push_right {
    margin-left: 50px; }
  #event_page .accordion #panel11a ol {
    margin-left: 0; }
  #event_page .accordion .level1 {
    list-style-type: none;
    margin-left: 0; }
    #event_page .accordion .level1 li:before {
      content: "Level I:";
      padding-right: 40px;
      font-weight: bold; }
    #event_page .accordion .level1 p {
      margin-left: 50px; }
  #event_page .accordion .level2 {
    list-style-type: none;
    margin-left: 0; }
    #event_page .accordion .level2 li:before {
      content: "Level II:";
      padding-right: 40px;
      font-weight: bold; }
    #event_page .accordion .level2 p {
      margin-left: 50px; }
  #event_page .accordion .level3 {
    list-style-type: none;
    margin-left: 0; }
    #event_page .accordion .level3 li:before {
      content: "Level III:";
      padding-right: 40px;
      font-weight: bold; }
    #event_page .accordion .level3 p {
      margin-left: 50px; }
  #event_page .accordion .examples {
    margin-left: 25px; }
    #event_page .accordion .examples ul {
      margin-left: 130px; }
  #event_page .accordion #panel14a li {
    margin-left: 10px; }
  #event_page .accordion .live_link {
    background-color: white;
    color: #008CBA;
    font-size: 15px;
    text-decoration: underline;
    padding: 0; }
    #event_page .accordion .live_link:hover {
      background-color: white; }
  #event_page .subnav hr {
    margin: .5rem 0 .5rem; }
  #event_page .subnav .accordion {
    border-color: black;
    border-style: solid; }
  #event_page .subnav .accordion-navigation {
    background-color: #f2f2f2;
    color: black; }
    #event_page .subnav .accordion-navigation:hover {
      color: white; }
  #event_page .subnav a {
    background-color: #f2f2f2;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0; }
    #event_page .subnav a:hover {
      color: white; }
  #event_page .subnav .content {
    background-color: #f2f2f2; }
    #event_page .subnav .content a {
      background-color: #f2f2f2; }
      #event_page .subnav .content a:hover {
        text-decoration: underline;
        color: black; }

/*# sourceMappingURL=event.css.map */
