#event_page {
	overflow: hidden;

	.row {
		max-width: 1190px;

		&.top {
			margin-top: 15px;
		}
	}
	
	.accordion {
		a {
			padding: 0 0 0 5px;
			margin-bottom: 6px;
			background-color: darkgray;
			color: white;
			font-size: 1.4rem;

			&:hover,&[aria-expanded=true] {
				background-color: #3B3131;
			}
		}

		.content {
			margin-bottom: 6px;
		}

		ul {
			list-style-type: disc;
		}

		.side {
			display: inline-block;
			margin-left: 10%;
		}

		table {
			background-color: black;
			margin: 0 auto 30px;

			tr {
				background-color: #F9F9F9;
			}

			.black {
				background-color: black;
			}

			.bold {
				font-weight: bold;
			}

			.right {
				text-align: right;
			}

			thead {
				tr {
					background-color: grey;
				}
			}
		}

		.less_bottom {
			margin-bottom: 5px;
		}

		.push_right {
			margin-left: 50px;
		}

		#panel11a {
			ol {
				margin-left: 0;
			}
		}

		.level1 {
			list-style-type: none;
			margin-left: 0;

			li:before {
				content: "Level I:";
				padding-right: 40px;
				font-weight: bold;
			}

			p {
				margin-left: 50px;
			}
		}

		.level2 {
			list-style-type: none;
			margin-left: 0;

			li:before {
				content: "Level II:";
				padding-right: 40px;
				font-weight: bold;
			}

			p {
				margin-left: 50px;
			}
		}

		.level3 {
			list-style-type: none;
			margin-left: 0;

			li:before {
				content: "Level III:";
				padding-right: 40px;
				font-weight: bold;
			}

			p {
				margin-left: 50px;
			}
		}

		.examples {
			margin-left: 25px;

			ul {
				margin-left: 130px;
			}
		}

		#panel14a {
			li {
				margin-left: 10px;
			}
		}

		.live_link {
			background-color: white;
			color: #008CBA;
			font-size: 15px;
			text-decoration: underline;
			padding: 0;

			&:hover {
				background-color: white;
			}
		}
	}

	.subnav {
		hr {
			margin: .5rem 0 .5rem;
		}
		.accordion {
			border-color: black;
			border-style: solid;
		}

		.accordion-navigation {
			background-color: #f2f2f2;
			color: black;

			&:hover {
				color: white;
			}
		}

		a {
			background-color: #f2f2f2;
			color: black;
			padding-bottom: 0;
			margin-bottom: 0;

			&:hover {
				color: white;
			}
		}

		.content {
			background-color: #f2f2f2;

			a {
				background-color: #f2f2f2;

				&:hover {
					text-decoration: underline;
					color: black;
				}
			}
		}
	}
}