#homepage {
  .row {
    padding: 0 5px;
    margin: 30px auto 0 auto;
    max-width: 1200px;

    &.nested {
      padding: 0;
      margin-top: 15px;
    }

    &.social {
      margin-top: 10px;
      padding: 0;
    }
  }

  .home_header {
    margin-top: 15px;
  }

  .no_top {
    margin-top: 0;
    padding: 0;
  }

  img {
    width: 100%;
    height: 415px;
  }

  .help {
    height: auto;
    width: 70%;
  }

  .place_center {
    text-align: center;
  }

  .logo {
    height: 310px;
  }

  .label {
    font-size: 1.5em;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 10px;
  }

  .tabs {
    a {
      width: 100%;
      height: 42px;
      text-align: center;
      line-height: 2.4;
      font-weight: bold;
      outline: none;
      background-color: rgba(153, 153, 153, 0.6);
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }

    .tab-title {
      width: 50%;

      &.third {
        width: 33.33%;
      }

      &.fourth {
        width: 25%;
      }

      &.fifth {
        width: 20%;
      }

      &.big {
        width: 30%;
      }

      &.super{
        width: 40%;
      }

      &.active a {
        background-color: #ffcf44;
      }
    }
  }

  .tabs-content{
    margin-bottom: 0;

    .content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .orbit-container {
    padding: 0;

    .orbit-slide-number {
      display: none;
    }

    .orbit-prev {
      margin-top: 0;
      height: 93%;
      top: 0;
    }

    .orbit-next {
      margin-top: 0;
      height: 93%;
      top: 0;
    }

    .orbit-timer {
      display: none;
    }

    .orbit-bullets {
      margin-bottom: 15px;
      margin-top: -10px;
    }
  }

  .event {
    width: 100%;
    height: 90px;
    padding-top: 1.7rem;
    font-size: 2rem;
  }

  .add_top {
    margin-top: 15px;
  }

  input {
    margin-bottom: 15px;
    width: 100%;
  }

  .panel {
    p {
      margin-bottom: 10px;
    }

    .special {
      margin-bottom: 0;
    }

    textarea {
      resize: none;
    }
  }

  .alert-box {
    &.hidden {
      display: none;
    }

    &.true {
      display: block;
    }
  }

  .special_hours {
    margin-top: 15px;
  }

  //medium screens.
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    .names {
      a{
        font-size: 0.55rem;
      }
    }

    .event {
      font-size: 1.8rem;
    }
  }

  //small screens.
  @media only screen and (max-width: 40em) {
    .event {
      font-size: 1.7rem;
      padding-top: 1.9rem;
    }

    .tabs {
      .tab-title.fifth {
        width: 20%;
      }

      .tab-title.fourth {
        width: 26%;
      }

      .tab-title.big {
        width: 28%;
      }
    }

    .mobile_down {
      margin-top: 15px;
    }

    .names {
      a{
        font-size: 0.5rem;
      }
    }

    .help {
      margin-bottom: 30px;
    }
  }
}