#spotlight_page {
	img {
		width: 100%;
		height: 415px;
	}

	.row {
		padding: 0 20px;
		margin: 30px auto 0 auto;
		max-width: 1200px;

		&.nested {
			padding: 0;
			margin-top: 15px;
		}
	}

	.spotlight_header {
		margin-top: 15px;
	}

	.columns {
		padding: 0;
	}

	.panel {
		&.center {
			//text-align: center;
		}
	}

	.label {
		font-size: 1.5em;
		line-height: 1.5;
		width: 100%;
	}

	@media only screen and (min-width: 64.0625em){
		.large-2 {
			width: 17.76667%;
		}

		.large-4 {
			width: 32.47%;
		}

		.large-6 {
			width: 48%;
		}

		.large-7 {
			width: 54.5%;
		}
	}

	.right_space {
		margin-right: 15px;
	}

	.no_padding {
		padding: 0;
	}

	//medium screens.
	@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
		.banner {
			width: 64.66667%;
		}

		.shows {
			width: 31.33333%;
		}
	}

    //small screens.
	@media only screen and (max-width: 40em) {
	  	.logo {
	  		margin-bottom: 15px;
	  	}

	  	img {
	  		height: inherit;
	  	}
  }
}