/* CSS Document 
Rowan Brown:330000
Rowan Yellow:FFCC00
*/
html{
	background-color:#853;
	margin: 0px;
	padding: 0px;
	}

body {
	margin: 0px;
	padding: 0px;
	background-image:url(../images/bg853.gif);
	background-repeat:repeat-y;
	background-position:center;
	}
	
#left{
	float: left;
}	

#right{
	float: right;
}

#page {
	width: 770px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding:0px;
	background-color: #FFFFFF;
	}

#header {
	background-image:url(../images/logo.gif);
	background-repeat:no-repeat;
	background-position: 10px ;
	background-color: #fdcc46;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	height: 60px;
	padding: 0px;
	}

#break	{
	background-color: #5b1400;
	height: 7px;
	}

#printHeader {
/* For print only */
	display:none;
	}

#search {
	padding-top: 10px;
	padding-right: 5px;
	margin: 0px;}
	
#search form {
	margin: 0px;
	padding: 0px;
	}	
	
#banner {
	background-image:url(../images/bannerBG.gif);
	background-repeat: repeat-x;
	height: 23px;
	padding: 0px 10px;
	}
	
#bannerTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:500;
	color:#5b1400;
	float:left;
 	width:500px;
	padding-top: 2px;
	}
	
#bannerLinks {
	padding-top: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:right;
	color:#5b1400;
	width: auto;
	margin: 0px;
	}

a.bannerLinks{ color: #5b1400; text-decoration: none;} 
a.bannerLinks:visited{ color: #5b1400; text-decoration: none; } 
a.bannerLinks:hover{ color: #5b1400; text-decoration: underline}
	
#topImage {
	height: 172px;
	border-top: 1px #5b1400 solid;
	border-bottom: 1px solid black;
	}

#mainBody{
	width:770px;
	margin:0;
	padding:0;
	}

#navigation {
	float:left;
 	width:150px;
	background-color: #FFFFFF;
	border-right: solid 1px black;
	}

#contentArea {
	float:left;
	width: 605px;
	padding: 7px 7px 15px 7px;
	background-color: #FFFFFF;
	}

#contentBody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	
	}

#footer {
	border-top: 1px solid black;
	padding: 5px 0px;
	clear:both;
	background-color: #FFFFFF;
	}

#footerImage {
	float: left;
	width: 200px;
	}	

#footerText{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:left;
	margin-left: 220px;
	}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: bold;
	color: #5b1400;
	}

.subTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: bold;
	color: #000000;
	}

.bodyText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p 	{
	margin-top:0px;
	}

	
a{ color: #000099; text-decoration: underline;} 
a:visited{ color: #0000FF; text-decoration: underline; } 
a:hover{ color: #000000; text-decoration: underline}
